.feynman__title {
    width: 648px;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }