
.header__title {
    margin:0;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    align-self: center;
    padding-left: 64px;
    justify-self: center;
    z-index: 3;
  }