p {
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  background-color: #f2f2f2;
  flex-wrap: nowrap;
}
.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  left: 64px;
  top:30px;
  position: absolute;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 10;
  position: absolute;
  right:0;
  bottom: 0;
}
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  top: 64px;
  right:0;
}

  .header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    align-self: center;
    padding-left: 64px;
    justify-self: center;
  }
  .header__subtitle {
    width: 388px;
    left: 64px;
    bottom: 30px;
    position: absolute;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
  }
  .link{
    color:#2f80ed;
    text-decoration: none;
  }
.description {
  display: flex;
  justify-content: center;
  
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.two-columns {
  margin-top: 100px;
  min-width: 784px;
  width: 80%;
  display: flex;
  align-content: space-between;
  
}

.two-columns__brief {
  width: 175px;
  color:#2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;

}
.two-columns__main-text {
  align-items: center;
  padding-left: 100px;
}
.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__span-accent {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: bolder;
  line-height: 34px;
}
.bold-text {
  font-weight: bolder;
}

.digits {  
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.digits-title{
  width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align:center;
  
}
.digits-subtitle {
  width: 60%;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align:center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.table__cell{
  width: 250px;
  padding-bottom: 60px;
}

.table__heading {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
}
.table__text {
  font-weight: normal;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
}


.feynman {
  margin: 100px 0 0 0;
  height:890px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-image: url("../images/feynman.png");
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.feynman__title {
  
  margin-right: auto;
  margin-left: auto;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 70px;
  text-align: center;
}
.feynman__subtitle {
  width: 648px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  margin-left: 80%;
  margin-right: 48px;
  text-decoration: none;
  margin-top: 50%;
  margin-bottom: 50%;
  top:50%;

}
.kaufman {
  background-color: #1f1f1f;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  width: 100%;
  overflow: hidden;
}

.kaufman__title{
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align:center;
}
.kaufman__title_theme_dark {
  color: white;
}
.kaufman__subtitle {
  margin-bottom: 60px;
  height: 50%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align:center;
}
.kaufman__subtitle_theme_dark {
  color: white;
}


.table_theme_dark {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding-bottom: 90px;
}

.table__heading_theme_dark {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
}
.table__text_theme_dark {
  font-weight: normal;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 10;
}
.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  top: auto;
  right:-210px;
  z-index: 0;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;

}

.footer {
  background-color:#1f1f1f;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  overflow: hidden;
  color: white;
  min-height: 350px;
  
}
.footer__columns{
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

}
.footer__column_content-copyright{
  padding-bottom: 18px;
  flex-basis: 711px;
  padding-top:18px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.footer__column-links{
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;

}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}


.footer__column_content-social{
  width: 10%;
  

}
.footer__column-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__column_content-info {
  width: 10%;
}

.author {
  display: flex;  
}
.logo_place_footer {
  display: flex;
}
.footer__column-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
border-color:orange;
border-width:5px;
border-style:solid;
*/